@import url("https://fonts.googleapis.com/css2?family=rajdhani:wght@300;400;500;600;700&family=Space+Grotest:wght@300;400;500;600;700&display=swap");

body{
	color:white;
}
h1{
	font-family:"rajdhani", sans-serif;
}
nav{
	margin-left:150px;
	margin-right:150px;
	padding-top:55px;
	padding-bottom:60px;
	height:90px;
	display:flex;
	justify-content:space-between;
}
nav ul li{
	list-style:none;
	float:right;
	position:relative;
}
nav ul li a{
	color:white;
	text-decoration:underline;
	text-transformation:uppercase;
	font-family:"Francklin Gothic Demi",francklin,monospace;
	font-size:25px;
}
#hero{
	width:65%;
	margin-top:200px;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
	color:white;
	padding-bottom:100px;
	margin-left:120px;
	margin-right:120px;
	padding:65px;
}
#hero .content h1{
	font-family:"rajdhani", sans-serif;
	font-size:36px;
	margin-top:80px;
}
#hero .content p{
	margin:20px auto;
	line-height:25px;
	font-size:18px;
}
#hero button{
	width:200px;
	height:50px;
	padding:15px;
	text-align:center;
	margin:20px 10px;
	font-weight:bold;
	border:none;
	background:rgb(255, 255, 255,0.3);
	cursor:pointer;
	color:white;
	position:relative;
	overflow:hidden;
}
#hero button a{
	color:white;
	text-decoration:none;

}
.image{
	padding-top:100px;
}
.section{
	width:70%;
	margin-left:100px;
	margin-right:120px;
	padding:65px;
}
#batman-au-cinéma{
	margin-top:500px;
}
.section h1{
	font-family:"rajdhani", sans-serif;
	font-size:32px;
	font-weight:bold;
}
.section p{
	font-weight:normal;
	font-size:18px;
	width:95%;
	text-align:justify;
}


.scrol{
	display:flex;
	flex-direction:column;
	align-items:center;
	position:fixed;
	right:80px;
	top:310px;
}
.scrol .social{
	margin-top:20px;
}
.gallery{
	display:flex;
	justify-content:space-between;
}
.description .desc{
	text-align:center;
}
.description .desc p{
	text-align:center;
}
#multimedia .slider-multimedia{
	display:flex;
	width:50%;
	margin:40px auto;
}
#multimedia .slider-content{
	padding:10px;
	text-align:justify;
	margin-top:10px;
	background:#727272;
}
#multimedia .slider-content h2{
	font-size:14px;
}
#multimedia .slider-content h3{
	font-size:12px;
	font-weight:normal;
}
#multimedia .slider-content p{
	font-size:14px;
}
#justiciés .section{
	width:65%;
	margin-left:170px;
	margin-right:120px;
	padding:65px;
}
#justiciés .section h1{
	font-family:"rajdhani", sans-serif;
	font-size:32px;
	font-weight:bold;
}
#justiciés .section p{
	font-weight:normal;
	font-size:18px;
	width:95%;
	text-align:justify;
}
